* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(49, 52, 62);
    --secondary-color: rgb(159, 198, 205);
    --tertiary-color: rgb(70, 86, 113);
}

/***************************
*   HEADER  *
****************************/

header {
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    
}

header h1 {
    background-color: var(--secondary-color);
    font-size: 4vw;
    width: 30%;
    height: fit-content;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    font-family: fantasy, Arial, Helvetica, sans-serif;    
}

header a {
    color: var(--secondary-color);
    text-decoration: underline;
}

header nav {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: space-around;
    width: 50%;
    
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

header nav ul li {
    padding: 0 10px;
}



header nav ul li a {
    padding: 0px 5px;
    font-size: 2vw;
    
}

header a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

/***************************
*   HERO  *
****************************/

.hero {
    background-image: url("../images/JeffJohnston-16 copy.jpg");
    background-size: cover;
    /* background-position: center; */
    background-position: top;
    background-repeat: no-repeat;
    height: 700px;
    margin-bottom: 8px;

}

/***************************
*   BODY  *
****************************/

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: rgb(238, 238, 249);
}

section {
    display: flex;
    color: var(--tertiary-color);
    width: 100%;
}   

 .section-title h2 { 
   justify-content: center;
 }

 h2 {
    font-size: 2rem ;
    font-weight: bold;
    margin: 20px 20px 20px 50px;
}

/***************************
*   BIO  *
****************************/

.bio-wrapper {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 20px auto 0 auto;
    justify-content: center;
    border-top: 2px solid var(--tertiary-color);
    
}

.bio-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.5;        
}

.bio-text {
    margin: 10px;
    
}

/***************************
*   WORK  *
****************************/

.grid-wrapper {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 20px auto 20px auto;
    justify-content: center;
    border-top:  2px solid var(--tertiary-color);
  
}

.container {
    width: 100%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 0.25rem; 
    background-color: rgb(238, 238, 249);

  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  
  }
  
  .gallery__item--2 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
   
  
  }
  
  .gallery__item--3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
  
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
  
  }
  
  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
  
  }

.container div:hover div::after {
    opacity: 1;
}

figure {
    margin: 0;
    position: relative;
}

.bottom-left h3 {
    z-index: 1;
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    font-size: 2rem;
    font-weight: bold;
    left: 0;
    bottom: 5%;
    margin:0
  }

.bottom-left a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

.gallery__item--1 a:link {
    font-style: normal;
    
}

figure a:visited {
    text-decoration: none;
    color: var(--tertiary-color)
  }

figure a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    opacity: 1;
  }

  
/***************************
*   CONTACT  *
****************************/

.contact {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    border-top: 2px solid var(--tertiary-color);
    height: 100px;
    width: 90%;
    margin: 20px auto 20px auto;

}
    
.contact ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
       
}

.contact ul li {
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 2px;
    
}

.contact a:link {
    font-style: normal;
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact a:visited {
    text-decoration: none;
    color: var(--tertiary-color)
  }

.contact a:hover {
    background-color: var(--tertiary-color);
    color: rgb(238, 238, 249);
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding: 8px 0px 8px 0px;
        justify-content: center;
        position: relative;
        width: 100%;
        display: block;
        
    }
    header h1 {
        width: 100%;
        text-align: center;
        font-size: 50px;           
    }

    header nav {
        align-content: center;
        width: 100%
    }

    header nav ul {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: space-evenly;
        
        
    }
    header nav ul li a {
        font-size: 18px;
        
    }

    .hero {
        /* background-position-x: -30px; */
        height: 500px;
        margin-bottom: 8px;
    }
    

    h2 {
        text-align: center;
        margin: 0;
    }

    .contact {
        justify-content: center;
    }

    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        
    }
    
    .gallery__item--1 {
        background-image: url("../images/RBScreenShot.png");
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        /* background-position: right 20% bottom 100%; */
      }
      
      .gallery__item--2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      
      }
      
      .gallery__item--3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      
      }
      
      .gallery__item--4 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
      
      }
      
      .gallery__item--5 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
      
      }
    
    .bottom-left h3 {
        font-size: 5vh;
        bottom: 85%;
        width: 100%;
        text-align: center;
        opacity: 0.9;
        
    }

    .contact {
        padding-top: 10px;
    }

    .contact ul {
        display: block;
        text-align: center;
           
    }
    
    .contact ul li {
        border-bottom: 1px dotted var(--tertiary-color);
        padding: 5px;
        width: 50%;
        justify-content: center;
        margin: 0 auto;
        line-height: 1.5;
        
    }

}

/* MEDIA QUERY FOR PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .hero {
        background-position-x: -30px;
    }

    header nav ul li {
        padding: 0;
    }

}
    /*********************/

    


