* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(49, 52, 62);
    --secondary-color: rgb(159, 198, 205);
    --tertiary-color: rgb(70, 86, 113);
}

/***************************
*   HEADER  *
****************************/

header {
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    
}

header h1 {
    background-color: var(--secondary-color);
    font-size: 3.5vw;
    width: 25%;
    text-align: right;
    padding-right: 10px;
        
}

header a {
    color: var(--secondary-color);
    text-decoration: underline;
}

header nav {
    display: flex;
    align-items: center;
    margin-top: 8px;
    
}

header nav ul {
    list-style: none;
    display: flex;
    
}

header nav ul li { 
    
}
header nav ul li a {
    padding: 0px 5px;
    font-size: 2vw;
    
}

/***************************
*   HERO  *
****************************/

.hero {
    background-image: url("../images/hero-image.png");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* width: 100%; */
    height: 225px;
    margin-bottom: 8px;
}

/***************************
*   BODY  *
****************************/

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: rgb(238, 238, 249);
}

section {
    display: flex;
    color: var(--tertiary-color);
    width: 100%;
}   

/* .section-title { 
    display: flex;
    border-right: 2px solid var(--tertiary-color);
    text-align: right;*/


/***************************
*   BIO  *
****************************/

.bio-wrapper {
    border: 1px solid red;
    display: flex;
    width: 90%;
    margin: 20px auto 0 auto;
    justify-content: center;
    border-left: 2px solid var(--tertiary-color);
    
    /* order: 2; */
}

.bio-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

.bio-text {
    margin: 10px;
    
}

/* .bio .section-title { 
    padding: 10px 10px 10px 43px;*/


/***************************
*   WORK  *
****************************/

.work-wrapper {
    border: 1px solid red;
    display: flex;
    width: 90%;
    margin: 20px auto 20px auto;
    justify-content: center;
    border-left: 2px solid var(--tertiary-color);
  
}

.container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 0.25rem; 
    background-color: rgb(238, 238, 249);
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: black;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
  }
  
  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }
  
/***************************
*   CONTACT  *
****************************/

.contact {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    border-left: 2px solid var(--tertiary-color);
    height: 100px;
    width: 90%;
    margin: 20px auto 20px auto;
    /* order: 4; */
}
    


/* .contact .section-title { */
    /* padding: 10px 10px 10px 0px; */
    


h2 {
    font-size: initial;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contact ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
       
}

.contact ul li {
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 2px;
    
}

.contact a:link {
    font-style: normal;
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact a:visited {
    text-decoration: none;
    color: var(--tertiary-color)
  }

header a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

.contact a:hover {
    background-color: var(--tertiary-color);
    color: rgb(238, 238, 249);
}


/***************************
*   TITLES COLUMN  *
****************************/

.titles-column-wrapper {
    border: 1px solid red;
    display: flex;
    margin: 20px 0px 0 50px;
    
    
}

.titles-column {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.titles-column h2 {
    text-align: right;
    width: 100%;
    
}

.title-1 {
   
}

.title-2 {
    border: 1px solid;
    margin-top: 100px;
}

.section-titles-wrapper {
    /* border: 1px solid blueviolet; */
    display: flex;
    
}

.section-only-wrapper {
    /* border: 1px solid greenyellow; */
}