* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(49, 52, 62);
    --secondary-color: rgb(159, 198, 205);
    --tertiary-color: rgb(70, 86, 113);
}

/***************************
*   HEADER  *
****************************/

header {
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    
}

header h1 {
    background-color: var(--secondary-color);
    font-size: 3.5vw;
    width: 25%;
    text-align: right;
    padding-right: 10px;
        
}

header a {
    color: var(--secondary-color);
    text-decoration: underline;
}

header nav {
    display: flex;
    align-items: center;
    margin-top: 8px;
    
}

header nav ul {
    list-style: none;
    display: flex;
    
}

header nav ul li { 
    
}
header nav ul li a {
    padding: 0px 5px;
    font-size: 2vw;
    
}

/***************************
*   HERO  *
****************************/

.hero {
    background-image: url("../images/hero-image.png");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* width: 100%; */
    height: 225px;
    margin-bottom: 8px;
}

/***************************
*   BODY  *
****************************/

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: rgb(238, 238, 249);
}

section {
    display: flex;
    color: var(--tertiary-color);
    width: 100%;
}   

/* .section-title { 
    display: flex;
    border-right: 2px solid var(--tertiary-color);
    text-align: right;*/


/***************************
*   BIO  *
****************************/

.bio-wrapper {
    border: 1px solid red;
    display: flex;
    width: 90%;
    margin: 20px auto 0 auto;
    justify-content: center;
    border-left: 2px solid var(--tertiary-color);
    
    /* order: 2; */
}

.bio-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

.bio-text {
    margin: 10px;
    
}

/* .bio .section-title { 
    padding: 10px 10px 10px 43px;*/


/***************************
*   WORK  *
****************************/

.work-wrapper {
    border: 1px solid red;
    display: flex;
    width: 90%;
    margin: 20px auto 20px auto;
    justify-content: center;
    border-left: 2px solid var(--tertiary-color);
  
}

/* .work .section-title { */
    /* padding: 10px 10px 10px 52px; */
/* } */

/* .work-wrapper .grid-wrapper { */
    /* display: flex; */
    /* width: 100%; */
    /* justify-content: center; */
/* } */


/*.grid-container {
    /*position: relative; 
    background-size: cover;
    background: var(--primary-color);
    border: solid;
    color: orange;*/
    /* margin: 0 auto; */
    /* border-left: 2px solid var(--tertiary-color); */
    /* background: var(--primary-color); */
    /* width: 100%; */
    /* display: grid; */
    /* repeat(iterator, size) */
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    border: 2px solid var(--secondary-color);
    color:  var(--secondary-color);
    max-width: 940px;
    gap: 10px;
    grid-auto-flow: row;*/
/* } */

.grid-container {
    width: 60%;
    margin: 2rem auto; 
    max-width: 100%;
    max-height: 100%;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1vw);
    grid-template-rows: repeat(8, 5vw);
    gap: 1.5rem; 
    max-width: 100%;
    
    
  }

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%;
    
  }

/*.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
    font-size: 2rem;
    background-color: crimson;*/
    
/* } */

.gallery-item {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.gallery__item--1 {
    /* padding: 15px 0; */
    /* border: 2px solid var(--secondary-color); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* max-width: 100%; */
    /* height: auto; */
    /* margin: 10px; */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    max-width: 100%;
    height: fit-content;
    
    
    
}

.gallery__item--2 {
    /* padding: 15px 0; */
    /* border: 2px solid var(--secondary-color); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* max-width: 100%; */
    /* height: auto; */
    /* margin: 10px; */
    grid-column: 2/span 1;
    grid-row: 1 /span 2;
    

}

.gallery__item--3 {
    
    grid-column: 1/span 3;
    grid-row: 3 /span 6;
    max-width: 10%;
    height: auto;
}

.gallery__item--4 {
    /* max-width: 100%; */
    /* height: auto; */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.gallery__item--5 {
    grid-column: 4 / span 3;
    grid-row: 4 / span 2;
    max-width: 100%;
    height: auto;
}
/***************************
*   CONTACT  *
****************************/

.contact {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    border-left: 2px solid var(--tertiary-color);
    height: 100px;
    width: 90%;
    margin: 20px auto 20px auto;
    /* order: 4; */
}
    


/* .contact .section-title { */
    /* padding: 10px 10px 10px 0px; */
    


h2 {
    font-size: initial;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contact ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
       
}

.contact ul li {
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 2px;
    
}

.contact a:link {
    font-style: normal;
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact a:visited {
    text-decoration: none;
    color: var(--tertiary-color)
  }

header a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

.contact a:hover {
    background-color: var(--tertiary-color);
    color: rgb(238, 238, 249);
}


/***************************
*   TITLES COLUMN  *
****************************/

.titles-column-wrapper {
    border: 1px solid red;
    display: flex;
    margin: 20px 0px 0 50px;
    
    
}

.titles-column {
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.titles-column h2 {
    text-align: right;
    width: 100%;
    
}

.title-1 {
   
}

.title-2 {
    border: 1px solid;
    margin-top: 100px;
}

.section-titles-wrapper {
    /* border: 1px solid blueviolet; */
    display: flex;
    
}

.section-only-wrapper {
    /* border: 1px solid greenyellow; */
