* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(49, 52, 62);
    --secondary-color: rgb(159, 198, 205);
    --tertiary-color: rgb(70, 86, 113);
}

/***************************
*   HEADER  *
****************************/

header {
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
    
}

header h1 {
    background-color: var(--secondary-color);
    font-size: 3.5vw;
    width: 25%;
    text-align: right;
    padding-right: 10px;
        
}

header a {
    color: var(--secondary-color);
    text-decoration: underline;
}

header nav {
    display: flex;
    align-items: center;
    margin-top: 8px;
    
}

header nav ul {
    list-style: none;
    display: flex;
    
}

header nav ul li { 
    
}
header nav ul li a {
    padding: 0px 5px;
    font-size: 2vw;
    
}

/***************************
*   HERO  *
****************************/

.hero {
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 225px;
    margin-bottom: 8px;
}

/***************************
*   BODY  *
****************************/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background-color: rgb(238, 238, 249);
}

section {
    display: flex;
    color: var(--tertiary-color);
    width: 100%;
}   

.section-title {
    display: flex;
    border-right: 2px solid var(--tertiary-color);
    text-align: right;
}

/***************************
*   BIO  *
****************************/

.bio {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 20px auto 0 auto;
    justify-content: center;
}

.bio-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.bio-text {
    margin: 10px;
}

.bio .section-title {
    padding: 10px 10px 10px 43px;
}

/***************************
*   WORK  *
****************************/

.work {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: flex-start;
}

.work .section-title {
    padding: 10px 10px 10px 52px;
}

.work .grid-container {
    margin: 20px;
}

.work .grid-container div {
    margin: 10px;
}

/***************************
*   CONTACT  *
****************************/

.contact {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: flex-start;
    
}

.contact .section-title {
    padding: 10px 10px 10px 0px;
    
}

h2 {
    font-size: initial;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contact ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
       
}

.contact ul li {
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 2px;
    
}

.contact a:link {
    font-style: normal;
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact a:visited {
    text-decoration: none;
    color: var(--tertiary-color)
  }

header a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

.contact a:hover {
    background-color: var(--tertiary-color);
    color: rgb(238, 238, 249);
}
